header{
  background: no-repeat top/100% url("http://stayathome-syllabus.greenfox.academy/week01/assets/first-website-header.png");
  height: 200px;
  width: 600px;
  font-family:'Abril Fatface', sans serif;
  color: #222;
  display: block;
  display: relative;
}
h3{
  margin-left: 25%;
}
h1{
  margin-left: 25%;
  display: absolute;
  bottom: 10%;
}
body{
  
  font-family:'Josefin Sans', sans serif;
  color: #222;
  width: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

footer{
  display: relative;
  font-family:'Abril Fatface', sans serif;
  color: #fff;
  padding: 0;
  background-color: #222;
  justify-content: center;
  width: 400px;
}

footer::before {
  content: '"';
  font-size: 50px;
  display: absolute;
  top:0px;
  left: 0px;
  margin:0px;
  }