header{
  background-color: rgb(245, 245, 220, 0.8);
 
  font-family:'Abril Fatface', sans serif;
  display: block;
  display: relative;
}
h3{
  text-transform: uppercase;
  text-align: center;
  font-size: 32px;
}
h1{
  text-align: center;
  font-size: 40px;
}
h2{
	text-align: center;
	background-color: #d9d9d9;
}
h5{
	color: #FFFFFF;
	background-color: #d9d9d9;
}

body{
  background: repeat top/100% url("./img/background.png");
  background-color: beige;
  font-family:'Josefin Sans', sans serif;
  width: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.kinalat{
	font-family:'Josefin Sans', sans serif;
	text-transform: uppercase;
	font-size: 50px;
}

.submenu{
	font-family:'Josefin Sans', sans serif;
	color: #ffffff;
	font-size: 30px;
	background-color: #000000;
}

.menusor{
	position: sticky;
	top: 0;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;

}

.sora {
	float: left;
	display: block;
	text-align: center;
	padding: 14px 16px;
}
.sora a{
	color: #FFFFFF;
	text-decoration: none;
}

.sora:hover {
  background-color: #111;
}

.active {
	padding: 14px 16px;
	background-color: #111;
}

footer{
  display: relative;
  font-family:'Abril Fatface', sans serif;
  color: #fff;
  padding: 0;
  background-color: #222;
  justify-content: center;
  width: 1000px;
}

footer::before {
  content: '"';
  font-size: 50px;
  display: absolute;
  top:0px;
  left: 0px;
  margin:0px;
  }